<h2 class="page-header">Contact Form</h2>
<!-- #myForm is a template reference variable here -->
<form action="" name="contactForm" #myForm="ngForm" (ngSubmit)="submit(myForm)">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input required minlength="3" maxlength="10" ngModel #firstName="ngModel" name="firstName" id="firstName"
            type="text" class="form-control">
        <div class="alert alert-danger margin-top-5" *ngIf="firstName.touched && !firstName.valid">
            <div *ngIf="firstName.errors.required">First name is required</div>
            <div *ngIf="firstName.errors.maxlength">First name is too long</div>
            <div *ngIf="firstName.errors.minlength">First name is too short</div>
        </div>
    </div>
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea ngModel name="comment" id="comment" cols="30" rows="5" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input type="checkbox" ngModel name="isSubscribed"> Subscribe to mailing list
            </label>
        </div>
    </div>
    <div class="form-group">
        <label for="contactMethod">Contact Method</label>
        <select ngModel name="contactMethod" id="contactMethod" class="form-control">
            <option value="">--- Select ---</option>
            <option *ngFor="let m of contactMethods" [value]="m.id">{{m.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <div *ngFor="let m of contactMethods" class="radio-inline">
            <label>
                <input ngModel type="radio" name="contactMethod" [value]="m.id">
                {{m.name}}
            </label>
        </div>
    </div>
    <button class="btn btn-primary" [disabled]="!myForm.valid">Submit</button>&nbsp;&nbsp;
    <em *ngIf="!myForm.valid">Please enter some text in first name field to enable this button.</em>
    <em *ngIf="myForm.valid">Submit button is enabled now.</em>
    <br/>
    <pre class="margin-top-5">{{ myForm.value | json }}</pre>
</form>
