<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
    <h1 class="page-header">Learn Angular</h1>
    <!--app-favorite [is-favorite]="post.isFavorite" (on-change)="onFavoriteChanged($event)"></app-favorite-->
    <bootstrap-panel>
        <ng-container class="heading">Panel Heading</ng-container>
        <!-- <div class="heading">Panel Heading</div> -->
        <div class="body">
            <h4>Special title treatment</h4>
            <p>With supporting text below as a natural lead-in to additional content.</p>
            <a class="btn btn-primary">Go somewhere</a>
        </div>
    </bootstrap-panel>
</div>