.title,
.subtitle {
  margin: 0px;
  margin-bottom: 1.5rem;
}

.has-text-info {
  color: #369 !important;
}

.container {
  padding: 1.25rem 2.5rem 1.25rem 1.5rem;
  background-color: whitesmoke;
  color: #525252;
}
