/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif !important;
    font-size: 14px;
    line-height: 1.5;
    color: #24292e !important;
    background-color: #fff !important;
}

.form-control.ng-touched.ng-invalid {
    border: 2px solid rgba(236, 157, 157, 0.99);
}
.margin-top-5 {
    margin-top: 5px;
    font-size: 12px;
}
